:root{

  /* Radius */
  --pt-radius-sm:8px;
  --pt-radius:12px;
  --pt-radius-lg:16px;

  /* Colors */
  --pt-text:#111;
  --pt-text-muted:#6F6F6F;

  --pt-border:#EAEAEA;
  --pt-border-hover:#D6D6D6;

  --pt-bg:#FFF;
  --pt-bg-soft:#F7F7F7;

  /* Motion */
  --pt-transition:.25s cubic-bezier(.4,0,.2,1);

  /* Spacing */
  --pt-space-1:.4rem;
  --pt-space-2:.8rem;
  --pt-space-3:1.2rem;
  --pt-space-4:1.6rem;
  --pt-space-5:2.4rem;
  --pt-space-6:3.2rem;
  --pt-space-7:4.8rem;
  --pt-space-8:6.4rem;
  --pt-space-9:8rem;
  --pt-space-10:10rem;

  /* Layout */
  --pt-content-width:1240px;

}